@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* body {
  font-family: sans-serif;
} */

.page {
  @apply flex flex-col justify-start px-8 pb-8
}

.card-title {
  @apply text-gray-300 text-2xl font-normal
}

.card-subtitle {
  @apply text-gray-300 text-base font-thin
}

.card-text {
  @apply text-gray-300 text-lg font-thin
}

.content-box {
  @apply flex justify-start items-start w-full max-w-2xl mx-auto
}

.mobile-nav-link {
  @apply text-2xl p-4
}

.link {
  @apply underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.1rem;
}